<div id="feed-bg">

  <div id="feed-wrapper">

    <nav id="main-nav">
      <h1 id="logo">WHATCHU TALKIN' BOUT?</h1>
      <%= link_to "Sign Out", logout_path, class: "sign-out" %>
    </nav>

    <!-- List of Legislators -->
    <section id="legislators">
      <div id="out"></div>

      <!-- Senators -->
      <!-- <section id="senators">
        <h2>Senators from <span>Colorado</span></h2>
        <article class="legislator senator">
          <%= image_tag "" %>
          <h3 class="name">Sen. Cory Gardner</h3>
          <br>
          <%= link_to "See Senator Gardner's Recent Tweets...", "#" %>
        </article>

        <article class="legislator senator">
          <%= image_tag "" %>
          <h3 class="name">Sen. Michael Bennet</h3>
          <br>
          <%= link_to "See Senator Bennet's Recent Tweets...", "#" %>
        </article>
      </section> -->

      <!-- Representatives -->
      <!-- <section id="representatives">
        <h2>Representatives of <span>80202</span></h2>
        <article class="legislator representative">
          <%= image_tag "" %>
          <h3 class="name">Rep. Diana DeGette</h3>
          <br>
          <%= link_to "See Representative DeGette's Recent Tweets...", "#" %>
        </article>
      </section> -->

      <!-- Search For Different Legislators -->
      <section id="search-area">
        <h2 id="search-title">Find Legislators By Zip Code:</h2>
        <form>
          <input id="search-input" type="text" placeholder="Enter a zip code">
          <input id="search-submit" type="submit" value="SEARCH">
        </form>
        <span id="message-area" style="color: red;"></span>
      </section>
    </section>

    <!-- Twitter Feed -->
    <section id="feed">

      <h2 id="feed-title">Finding your legislators ...</h2>

    </section>
  </div>
</div>